body {
    background: white;
    font-family: 'Kanit', sans-serif;
}

/* Main Page Image */

.img-index {
    background: url(../img/bg1.jpg);
}

.img-char {
    background: url(../img/bg7.jpg);
    opacity: 0.8;
}

.img-word {
    background: url(../img/bg6-2.jpg);
}

.img-lesson {
    background: url(../img/9.jpg);
}
.img-flash {
    background: url(../img/12.jpg);
}
/* Heading Section */

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center center;
    position: relative;
    top: -30;
    bottom: 0;
    height: 70vh;
    padding-top: 200px;
    color: white;
}
.description-heading{
    font-size: 20;
    text-shadow: 1px 1px 4px rgba(95, 95, 95, 0.5);
}

.jumbotron-heading.text-center {
    font-weight: bold;
    font-size: 38;
    
}

.jumbotron>.overlay {
    position: absolute;
    top: -50;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    opacity: 0.8;
    z-index: 1;
}

.jumbotron>.inner {
    position: relative;
    z-index: 2;
}

/*  Navbar  */

.navbar-light .navbar-toggler-icon {
    background-image: url('../img/menu-white.png');
}

.navbar {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    padding: 10 50 10 50;
}

.navbar-collapse {
    padding-left: 25;
}

.navbar-brand {
    font-size: 26px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: pink;
}

.navbar-light .navbar-brand:hover {
    color: pink;
}
/* card */
.card-img-top{
    background: pink;
}
a:hover{
    text-decoration: none;
}
/* breakpoint */

@media only screen and (max-width: 414px) {
    .navbar {
        font-family: 'Kanit', sans-serif;
        font-size: 18px;
        padding: 10 10 10 10;
    }
    .navbar-brand {
        font-size: 20;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url('../img/menu-white.png');
        width: 20px;
        height: 20px;
    }
    .jumbotron {
        font-size: 15;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-size: cover;
        background-position: center center;
        position: relative;
        top: -40;
        bottom: 0;
        height: 80vh;
        padding-top: 100px;
        color: white;
    }
    .col-sm-3{
        margin-top: 15px;
    }
    .row{
        margin-top: -25px;
    }
}

/* under line text */

.line {
    background-color: #7d7373;
    border-radius: 0;
    height: 5px;
    width: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.line2 {
    background-color: #7d7373;
    border-radius: 0;
    height: 5px;
    width: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

/* Scolling Nav */

.scolling {
    background: black;
    opacity: 0.9;
}

/* text */

h4.topic-text {
    color: black;
    font-size: 26px;
    transition: 0.5s;
}

h4.topic-text:hover {
    color: pink;
}

.high-light {
    color: pink;
    font-family: 'Kanit', sans-serif;
}
.card-text{
    color: black;
}
.card-text:hover{
    color: pink;
    
}

span {
    font-family: 'Noto Sans JP', sans-serif;
}

.conver {
    font-size: 26px;
}

.lesson {
    font-size: 20px;
}

/* table font */

tr {
    font-family: 'Noto Sans JP', 'Kanit', sans-serif;
}

/* button dict */
