body {
    background: white;
    font-family: 'Kanit', sans-serif;
}

/* Main Page Image */
.img-index{
    background: url(../img/bg1.jpg);
}
.img-char{
    background: url(../img/bg1.jpg);
}
.img-word{
    background: url(../img/bg1.jpg);
}
.img-lesson{
    background: url(../img/bg1.jpg);
}

/* Heading Section */
.jumbotron {
    position: relative;
    background-size: cover;
    background-position: center center;
    position: relative;
    top: -50;
    bottom: 0;
    height: 70vh;
    padding-top: 200px;
    color: white;
}

.jumbotron > .overlay {
    position: absolute;
    top: -50;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    opacity: 0.8;
    z-index: 1;
}

.jumbotron > .inner {
    position: relative;
    z-index: 2;
}
/*  Navbar  */

.navbar {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    padding:10 70 10 70;

}

.navbar-brand {
    font-size: 26px;

}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.navbar-light .navbar-brand{
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: pink;
}
.navbar-light .navbar-brand:hover{
    color: pink;
}
/* Scolling Nav */
.scolling{
    background: black;
    opacity: 0.9;
}
/* text */
h4 {
    color: black;
    font-size: 26px;
    transition: 0.5s;
}

h4:hover {
    font-weight: bold;
}

span {
    font-family: 'Noto Sans JP', sans-serif;
}

.conver {
    font-size: 26px;
}

.lesson {
    font-size: 20px;
}
/* table font */
tr {
    font-family: 'Noto Sans JP', 'Kanit', sans-serif;
}
