body {
    background: url("/docs/img/bg.jpg");
    font-family: 'Kanit', sans-serif;
}

nav {
    background: pink;
}

.navbar {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

.navbar-brand {
    font-size: 26px;
    transition: 0.5s;
}

.navbar-brand:hover {
    font-size: 28px;
    font-weight: bold;
}

h4 {
    color: black;
    font-size: 26px;
    transition: 0.5s;
}

h4:hover {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}